---
import PageHeadline from "@/components/PageHeadline.astro";
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import "@/styles/blog.css"; // Importar el nuevo archivo de estilos
const t = useTranslations(Astro.currentLocale as Lang);

import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const posts = (await getCollection("blog"))
  .filter((post) => post.slug.split("/")[0] === locale)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 5);
const title = t({
  en: "Latest posts",
  es: "Últimas publicaciones",
});

const viewAllPosts = t({
  en: "View all posts",
  es: "Ver todos los posts",
});
---

<Layout>
  <PageHeadline {title} />

  <section class="latest-posts">
    <ul class="post-list">
      {
        posts.map((post) => {
          const [, ...slugParts] = post.slug.split("/");
          const slug = slugParts.join("/");
          return (
            <li>
              <a href={`/${locale}/blog/${slug}/`}>
                <p class="post-date">
                  <Icon name="calendar" size="32px" />
                  {post.data.date.toLocaleDateString(locale)}
                </p>
                <h2>{post.data.title}</h2>
              </a>
            </li>
          );
        })
      }
    </ul>

    <div class="view-all-posts">
      <a href={`/${locale}/blog`} class="view-all-button">{viewAllPosts}</a>
    </div>
  </section>
</Layout>

<style>
  em {
    display: block;
    font-style: normal;
    font-size: 1.3em;
    margin-block-end: var(--sp-m);
  }

  .view-all-posts {
    text-align: center;
    margin-top: var(--sp-m);
  }

  .view-all-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    border-radius: 0.5em;
    background: var(--color-theme);
    color: var(--color-base);
    text-decoration: none;
    font-weight: bold;
  }
</style>
